<template name="configs">
  <h4>Configurations</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline pull-right">
        <div class="form-group">
          <label class="sr-only" for="name">Name</label>
          <input type="text" id="name" name="{{name}}" value="{{name}}" placeholder="name" class="form-control input-sm {{confirmed}}">
        </div>
        <div class="form-group">
          <label class="sr-only" for="value">Value</label>
          <input type="text" id="value" name="{{value}}" value="{{value}}" placeholder="value" class="form-control input-sm {{confirmed}}">
        </div>
        <button class="btn btn-success btn-sm" id="addConfig" type="button">Add</button>
      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      {{#each configs}}
        {{>config}}
      {{/each}}
    </div>
  </div>
</template>