@import "/packages/bootstrap3-less/bootstrap.lessimport";

@brand-admin: #124bbe;

.admin {
  background-color: #f0eccf;
}
.navbar {
  margin-bottom: 0 !important;
}
.megatron {
  box-sizing: border-box;
  padding: 60px;
  width: 30%;
  margin: auto;
  a {
    font-size: 0.7em;
  }
}
.jumboboom {
  color: #fff;
  background: @brand-primary;
  background: url(/packages/admin/public/images/bg.jpg) repeat;
  padding-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
}
.text-right {
  float: right;
  text-align: right;
}
.form {
  .field {
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      padding: 15px;
      line-height: 1;
      font-size: 1.3em;
      border: 1px solid #eee;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  button {
    .btn;
    .btn-primary;
    width: 100%;
    font-size: 1em;
    border-radius: 0;
    text-transform: uppercase;
    &:hover {
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
  .btn-half {
    width: 50%;
  }
}
.navbar .form {
  width: 300px;
}

