<template name="user">
  <tr>
    <td class="col-md-3">
      <ul>
      {{#each emails}}
        <li>{{address}}</li>
      {{/each}}
      </ul>
    </td>
    <td class="col-md-2">
      {{username}}
    </td>
    <td class="col-md-2">
      {{profile.name}}
    </td>
    <td class="col-md-5">
      <button id="edit" class="btn btn-primary btn-sm">Edit</button>
      <button id="remove" class="btn btn-danger btn-sm">Remove</button>
    </td>
  </tr>
  {{#constant}}
    {{>editUser}}
  {{/constant}}
</template>
