<template name="user">
<div class="row">
  <div class="col-sm-12 user-block">
    <div class="user-avatar">
      <img src="http://placehold.it/40x40">
    </div>
    <div class="user-emails">
      <select>
        {{#each emails}}
        <option>{{address}}</option>
        {{/each}}
      </select>
    </div>
    <div class="user-username">
      {{username}}
    </div>
    <div class="user-name">
      {{profilename}}
    </div>
    <div class="actions">
      <button id="edit" class="btn btn-primary btn-sm">Edit</button>
      <button id="remove" class="btn btn-danger btn-sm">Remove</button>
    </div>
  </div>
</div>
  {{#constant}}
  {{>editUser}}
  {{/constant}}
</template>
