<template name="comboFullPage">
{{>admin}}
  <div class="container">
    <div class="megatron">
      <div class="row">
        <div class="col-sm-12">
          {{>alerts}}
          {{>combo}}
        </div>
      </div>
    </div>
  </div>
</template>


<template name="combo">
  <div class="form-admin">
    {{#each fields}}
      {{>field}}
    {{/each}}
    <button id="login" class="btn-admin btn-half">Login</button><button id="register" class="btn-admin btn-half">Register</button>
  </div>
  <div class="text-center">
    <a href="/forgot" class="text-primary">Forgot Password</a>
  </div>
</template>
