<template name="forgotFullPage">
  <div class="container">
    <div class="megatron">
      <div class="row">
        <div class="col-sm-12">
          {{>alerts}}
          {{>forgot}}
        </div>
        <div class="col-sm-12">
          <a href="/login">Login</a>
          <div class="text-right"><a href="/register">Register</a></div>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="forgot">
  <div class="form">
    {{#each fields}}
      {{>field}}
    {{/each}}
    <button>Reset Password</button>
  </div>
</template>