<template name="adminLoginFullPage">
  <div class="container">
    <div id="login-full-page">
      {{> _loginFullPageLoggedOutPasswordService}}
    </div>
  </div>
</template>

<template name="_loginFullPageFormField">
  {{#if visible}}
  <div id="login-{{fieldName}}-label-and-input">
    <label id="login-{{fieldName}}-label" class="hidden" for="login-{{fieldName}}">
      {{fieldLabel}}
    </label>
    <input id="login-{{fieldName}}" type="{{inputType}}" placeholder="{{fieldName}}" />
  </div>
  {{/if}}
</template>


<template name="_loginFullPageLoggedOutPasswordService">
  <div class="login-form login-password-form">
    {{#each fields}}
      {{> _loginFullPageFormField}}
    {{/each}}

    <div class="login-button login-button-form-submit" id="login-buttons-password">Sign in</div>
  </div>
</template>