<template name="registerFullPage">
  <div class="container">
    <div class="megatron">
      <div class="row">
        <div class="col-sm-12">
          {{>alerts}}
          {{>register}}
        </div>
        <div class="col-sm-12">
          <a href="/login">Login</a>
          <div class="pull-right text-right"><a href="/forgot">Forgot Password</a></div>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="register">
  <div class="form-admin">
    {{#each fields}}
      {{>field}}
    {{/each}}
    <button class="btn-admin">Register</button>
  </div>
</template>
